<h1>Welcome</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<h1>Current Users</h1>
    <div>
        <% @users.each do |user| %>
        <%= user.username %><br>
        <%= image_tag(user.image) %><br>
        <% end %>
    </div>