<h1>Editing Album</h1>

<%= render 'form', album: @album %>

<nav>
    <div class = "footer">
    <ul>
      <li><%= link_to 'Show', [@current_user, @album] %></li> |
      <li><%= link_to 'Back', user_albums_path(@current_user) %></li>
    </div>
  </nav>
