<h1>Editing Album</h1>

<%= render 'form', album: @album %>

<nav>
    <div class = "footer">
    <%= link_to 'Show', [@current_user, @album] %> |
    <%= link_to 'Back', user_albums_path(@current_user) %>
    </div>
  </nav>
