<h1 style="text-align: center">New Album</h1>

<%= render 'form', album: @album %>

<nav>
    <div class = "footer">
    <ul>
     
      <li> <%= link_to 'Back', user_albums_path(@current_user) %> </li>
    </div>
  </nav>


