<h1 style="text-align: center">This will be the about page </h1>

<div>
<h2>Bryan</h2>
<p></p>
<%= image_tag ('joe.jpg') %>

</div>

<div>
<h2>Asia</h2>
<%= image_tag ('nancy.png') %>

</div>

<div>
<h2>Michele</h2>
<%= image_tag ('news.jpeg') %>
</div>





<nav>
<div class = "footer">
  <%= link_to 'Back', welcome_index_path %>
</div>
</nav>